<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 th:text="|Кількість кроків: ${tabul.countStep()}|"></h1>
<h1 th:text="|MAX: y=${tabul.getMax(points).y()}, x=${tabul.getMax(points).x()}|"></h1>
<h1 th:text="|MIN: y=${tabul.getMin(points).y()}, x=${tabul.getMin(points).x()}|"></h1>
<h1 th:text="|Sum: ${tabul.getSum(points)}|"></h1>
<h1 th:text="|Average sum: ${tabul.getAverage(points)}|"></h1>
<table>
    <thead>
        <tr>
            <th>X</th>
            <th>Y</th>
        </tr>
    </thead>
    <tbody>
    <tr th:each="point : ${points}">
        <td th:text="|${point.x}|"></td>
        <td th:text="${point.y}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>